# Compiled binaries go here.
bin/

# sphinx build folder
docs/build

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Editor backup files #
#######################
*~

# Misc files #
##############

serial.log
